/* style.css */

/* Reducir el tamaño del logo */
.logo {
  max-width:5px;
  max-height:5px;
  background-color: 'transparent';
}

.img{
     max-width:30px;
     max-height:30px;
     background-color: 'transparent';
}